body{
    background-image:url(clock2.avif) ;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 


}


.container{
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align:center;
   
    
}

 .container #clock{
    width: 100%;
    font-size:100px ;
    font-weight: bolder;
    color:hsl(59, 49%, 79%) ;
    backdrop-filter:blur(4px) ;
  


 }
h1{
    color: hsl(44, 80%, 84%);
}